* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  background: #272727;
  align-items: center;
  gap: 2vmin;
  font-size: 3vmin;
}
.mostPopular {
  flex-direction: column;
  align-items: center;
}
.title{
  color: #ff652f;
}
.liItem {
  color: #e9e5dd;
}
a{color: #14a76c}
#titleNews{
  color: #ff0000;
}
.article {
  width: 80%;
  height: 20vmax;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  margin-top: 3vmin;
  
  color: #747474;
  padding: 1vmax;
  flex-wrap: wrap;
}

.article-title{
    font-weight: 900;
    color: #e0dcb0;
    font-size:2vmax
}
.movie {
  width: 20vmax;
  height: 20vmax;
  border: 1px solid #333;
  padding: 2vmin;
  color: #747474;
  border-radius: 5px;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.movie-title{
  font-weight: 900;
  color:#e0dcb0
}
.movie::-webkit-scrollbar {
  display: none;
}
.article::-webkit-scrollbar {
  display: none;
}
a{
    text-decoration:none;
}
.movies-reviews {
  display: flex;
  flex-wrap: wrap;
  gap: 1vmin;
  justify-content: center;
}
.search {
  width: 100vw;
  height: 3vmax;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-input {
  width: 50vmax;
  height: 5vh;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border: none;
  padding-left: 2vmin;
}
.btn {
  height: 5vh;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-right: none;
  border-left: 1px solid #333;
  border-top: none;
  border-bottom: none;
  background: #333;
  color: #e9e5dd;
}
.nav {
  display: flex;
  gap: 3vmin;
  list-style: none;
}
.nav li {
  cursor: pointer;
  padding: 1vmin;
  border-radius: 15px;
}
.nav li:hover {
  background: #81c2b2;
}
.checked {
  background: #81c2b2;
}

@media (max-width: 800px) {
  .article {
    display: flex;
    gap: 2vmax;
    overflow: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .article-img {
    position: absolute;
    display: none;
  }
}
